@import url('https://fonts.cdnfonts.com/css/perfect-dos-vga-437');

.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

disclaimer {
  font-size: 11px;
  font-family: 'Perfect DOS VGA 437', sans-serif;
  color: #880808;
  position: absolute;
  bottom: 1%;
  z-index: 1;


}

comingsoon {
  font-size: 24px;
  font-family: 'Perfect DOS VGA 437', sans-serif;
  color: #880808;
  position: absolute;
  bottom: 50%;
    left: 50%;
  z-index: 1;


}
    
    
